* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
}

/* ----------------------- */

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(1, 1, 1, 0);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 3px;
}

/* ----------------------- */

button {
  height: 80px;
  width: 80px;
  font-size: 20px;
  font-weight: 250;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #030003;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

tr {
  height: 45px;
  border-top: solid 2px #151516;
  border-bottom: solid 2px #151516;
  justify-items: center;
}

td:nth-child(2) {
  text-align: right;
}

/* ----------------------- */

#appContainer {
  width: 390;
  height: 844;
  background-color: #030003;
  display: flex;
  flex-direction: column;
}

#timerAndButtonsContainer {
  height: 55%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonsContainer {
  width: 90%;
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}

#lapContainer {
  overflow-x: auto;
  height: 35%;
  width: 93%;
  margin: 0 auto;
}

#bottomMenu {
  height: 10%;
  background-color: #131313;
}

/* ----------------------- */

#timer {
  color: #fffdff;
  font-weight: 100;
  font-size: 80px;
  margin-top: 50%;
}

.lap-entry {
  color: #fffdff;
  font-size: 16px;
}

.best-lap {
  color: #2abf50;
}

.worst-lap {
  color: #e93f35;
}

/* ----------------------- */
.start-button {
  background-color: #082a11;
  border: solid 2px #082a11;
  color: #2abf50;
}

.start-button:hover {
  background-color: #041609;
  border: solid 2px #041609;
  color: #2abf50;
}

.stop-button {
  background-color: #320e0b;
  border: solid 2px #320e0b;
  color: #e93f35;
}

.stop-button:hover {
  background-color: #1b0705;
  border: solid 2px #1b0705;
  color: #e93f35;
}

/* Used on the Lap button when is not beeing pressed when the Start button has not been pressed yet*/
.unabled-lap-button {
  background-color: #1c1c1d;
  border: solid 2px #1c1c1d;
  color: #77777e;
}

/* hover or active */
.unabled-lap-button:hover {
  background-color: #0f0f0f;
  border: solid 2px #0f0f0f;
  color: #77777e;
}

.lap-reset-button {
  background-color: #333;
  border: solid 2px #333;
  color: #fff;
}

/* hover or active */
.lap-reset-button:hover {
  background-color: #1b1b1b;
  border: solid 2px #1b1b1b;
  color: #fff;
}
