* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
}

/* ----------------------- */

body {
  background-color: #030003;
}

/* ----------------------- */

button {
  height: 200px;
  width: 200px;
  font-size: 50px;
  font-weight: 250;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #030003;
  margin: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

tr {
  height: 110px;
  border-top: solid 3px #151516;
  border-bottom: solid 3px #151516;
  justify-items: center;
}

td:nth-child(2) {
  text-align: right;
}

/* ----------------------- */

#timerAndButtonsContainer {
  width: 95%;
  height: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonsContainer {
  width: 95%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  position: absolute;
}

#lapContainer {
  overflow-x: auto;
  height: 35%;
  width: 95%;
  margin: 0 auto;
  border-top: solid 3px #151516;
}

#bottomMenu {
  height: 10%;
  background-color: #131313;
}

/* ----------------------- */

#timer {
  color: #fffdff;
  font-weight: 100;
  font-size: 200px;
  align-self: center;
  position: relative;
}

.lap-entry {
  color: #fffdff;
  font-size: 50px;
}

.best-lap {
  color: #2abf50;
}

.worst-lap {
  color: #e93f35;
}

/* ----------------------- */
.start-button {
  background-color: #082a11;
  border: solid 5px #082a11;
  color: #2abf50;
}

.start-button:hover {
  background-color: #041609;
  border: solid 5px #041609;
  color: #2abf50;
}

.stop-button {
  background-color: #320e0b;
  border: solid 5px #320e0b;
  color: #e93f35;
}

.stop-button:hover {
  background-color: #1b0705;
  border: solid 5px #1b0705;
  color: #e93f35;
}

/* Used on the Lap button when is not beeing pressed when the Start button has not been pressed yet*/
.unabled-lap-button {
  background-color: #1c1c1d;
  border: solid 5px #1c1c1d;
  color: #77777e;
}

/* hover or active */
.unabled-lap-button:hover {
  background-color: #0f0f0f;
  border: solid 5px #0f0f0f;
  color: #77777e;
}

.lap-reset-button {
  background-color: #333;
  border: solid 5px #333;
  color: #fff;
}

/* hover or active */
.lap-reset-button:hover {
  background-color: #1b1b1b;
  border: solid 5px #1b1b1b;
  color: #fff;
}
